<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="${pageTitle}">Моя система</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/personal_page}">Главная</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Профиль</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/project_form}">Создать новый проект</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/projects}">Проекты</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Выйти</a></li>
        </ul>
    </div>
</nav>
</div>
</body>
</html>