<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список дел</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div th:replace="_header :: header"></div>

<div class="container mt-3">
    <h1 class="text-center mb-4">Список дел</h1>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:action="@{/removeAll}" method="post" class="text-center mb-4">
        <button class="btn btn-danger" type="submit">Remove all</button>
    </form>

    <form th:action="@{/search}" method="post" class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" name="searchTerm" placeholder="Enter search task" th:value="${searchTerm}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>
    <a th:href="@{/project_form}" class="btn btn-success">Создать новый проект</a>
    <h2>Я создал проекты</h2>
    <div th:if="${assignedByMe != null}">
        <ul class="list-group">
            <li class="list-group-item" th:each="project : ${assignedByMe}">
                <div class="fw-bold" th:text="${project.title}">Название проекта</div>
                <div class="text-muted" th:text="${project.description}">Описание проекта</div>

                <a th:href="@{/project_detail/{id}(id=${project.id})}" class="btn btn-sm btn-outline-primary mb-2">
                    Добавить задачу
                </a>

                <div th:if="${project.task != null and #lists.size(project.task) > 0}">
                    <ul class="list-group mt-2">
                        <li class="list-group-item" th:each="task : ${project.task}">
                            <strong th:text="${task.title}">Название задачи</strong><br/>
                            <span th:text="${task.description}">Описание</span>
                        </li>
                    </ul>
                </div>
                <div th:if="${project.task == null or #lists.isEmpty(project.task)}">
                    <em>Задачи пока не добавлены</em>
                </div>
            </li>
        </ul>
    </div>
    <h3>Мои задачи:</h3>
    <ul class="list-group">
        <li class="list-group-item" th:each="task : ${tasksTaken}">
            <strong th:text="${task.title}">Заголовок</strong> —
            <span th:text="${task.description}">Описание</span><br>
            <small th:text="'Проект: ' + ${task.project.title}">Название проекта</small>
        </li>
    </ul>
</div>
</body>
</html>
